.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.borderLeft {
  border: 1px solid #dedede;
}

.col {
  width: 7.5vw; 
  height: 7.5vw;
  border-right: 1px solid #bbbbbb;
  background: white;
  line-height: 7.5vw;
  /* font-weight: bold; */
  font-size: 4.2vw;
}

.yourSquare {
  background: rgb(172, 172, 172);
}
/* Opotsite */
.winningOp {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 7.5vw;
  height: 7.5vw;
  border: 1px solid #999999;
  background: rgb(21, 255, 0);
  border-radius: 100px;

    background: -webkit-linear-gradient( orange , yellow, rgb(0, 230, 0), rgb(104, 104, 255), rgb(255, 42, 255)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( orange , yellow, rgb(0, 230, 0), rgb(104, 104, 255), rgb(255, 42, 255)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( orange , yellow, rgb(0, 230, 0), rgb(104, 104, 255), rgb(255, 42, 255)); /* For Firefox 3.6 to 15 */
    background: linear-gradient( orange , yellow, rgb(0, 230, 0), rgb(104, 104, 255), rgb(255, 42, 255)); /* Standard syntax (must be last) */
}
.ramsScoreTdOp {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 7.5vw;
  height: 7.5vw;
  border: 1px solid #999999;
  background: #00ffd5;
  border-radius: 100px;

}

.ramsScoreFgOp {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 7.5vw;
  height: 7.5vw;
  border: 1px solid #999999;
  background: #23a7ff;
  border-radius: 100px;

}

.ramsScoreSafetyOp {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 7.5vw;
  height: 7.5vw;
  border: 1px solid #999999;
  background: #686aff;
  border-radius: 100px;

}

.ramsXpNoGoodOp {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 7.5vw;
  height: 7.5vw;
  border: 1px solid #999999;
  background: #a659ff;
  border-radius: 100px;

}
/* PATRIOT */
.patsScoreTdOp {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 7.5vw;
  height: 7.5vw;
  border: 1px solid #999999;
  background: #e5ff00;
  border-radius: 100px;

}

.patsScoreFgOp {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 7.5vw;
  height: 7.5vw;
  border: 1px solid #999999;
  background: rgb(253, 194, 0);
  border-radius: 100px;

}

.patsScoreSafetyOp {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 7.5vw;
  height: 7.5vw;
  border: 1px solid #999999;
  background: #ff4e48;
  border-radius: 100px;

}

.patsXpNoGoodOp {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 7.5vw;
  height: 7.5vw;
  border: 1px solid #999999;
  background: rgb(255, 51, 211);
  border-radius: 100px;

}

/* winning */


.winning {
  background: rgb(21, 255, 0);
  background: -webkit-linear-gradient( orange , yellow, rgb(0, 230, 0), rgb(104, 104, 255), rgb(255, 42, 255)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( orange , yellow, rgb(0, 230, 0), rgb(104, 104, 255), rgb(255, 42, 255)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( orange , yellow, rgb(0, 230, 0), rgb(104, 104, 255), rgb(255, 42, 255)); /* For Firefox 3.6 to 15 */
    background: linear-gradient( orange , yellow, rgb(0, 230, 0), rgb(104, 104, 255), rgb(255, 42, 255)); /* Standard syntax (must be last) */
}

.ramsScoreTd {
  background: #00ffd5;
}

.ramsScoreFg {
  background: #23a7ff;
}

.ramsScoreSafety {
  background: #686aff;
}

.ramsXpNoGood {
  background: #a659ff;
}
/* PATRIOT */
.patsScoreTd {
  background: #e5ff00;
}

.patsScoreFg {
  background: rgb(253, 194, 0);
}

.patsScoreSafety {
  background: #ff4e48;
}

.patsXpNoGood {
  background: rgb(255, 51, 211);
}



.flex {
  display: flex;
}

.colorBox {
  width: 4.2vw;
  height: 4.2vw;
  margin: 1px;
  border: 1px solid #999900;

}
.roundBox {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 4.2vw;
  height: 4.2vw;
  border: 1px solid #999999;
  border-radius: 100px;
}
.winningBox {
  padding: 10px 0px;
}
.codeText {
  font-size: 12px;
  padding-left: 5px;
  padding-top: 1px;
}

.border {border: 1px solid red;}
.between {justify-content: space-between;}
.around {justify-content: space-around;}
.center {justify-content: center;}
.borderGray {
  border: 1px solid gray;
}
.pad5 {padding: 5px};

.padTopBottomTen {
  padding: 10px 0px;
}

/* PAYOUTS */
table {
  width: 100%;
}

table, td {
  border: 1px solid #dedede;

}
.payouts {
  font-weight: 'bold';
}
.square {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.round {
  width: 22px;
  height: 22px;
  margin-right: 10px;
  border-radius: 100px;
}

.test {
  
}



